.grid-item {
    color:rgb(227, 241, 237);
    background-color: rgba(97, 102, 104, 0.589);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 50px;
    padding: 45px 45px;
    font-size: 30px;
    text-align: center;

  }

  h1 {
    color: rgb(133, 206, 184);
  }

  button{
    color: rgb(252, 252, 252);
    background-color:rgb(88, 164, 164);
    border-radius: 5px;
  }